<div class="container">
    <h1>SignUp</h1>
    <p>if your a registered user click
        <a href="login">here</a> to login</p>
    <form>
        <div class="form-group">
            <input type="text" [(ngModel)]="signup.FirstName" class="form-control" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="signup.MiddleName" class="form-control" name="middlename" placeholder="Middle Name">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="signup.LastName" class="form-control" name="lastname"placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="signup.UserName" class="form-control" name="username" placeholder="UserName">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <input type="text" [(ngModel)]="signup.Email" class="form-control" name="email" placeholder="Email">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
            <input id="password" type="password" [(ngModel)]="signup.Password" name="password" class="form-control" placeholder="Password">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-phone"></i>
            </span>
            <input id="phn" type="number" [(ngModel)]="signup.PhoneNumber" class="form-control" name="phonenumber" placeholder="Enter Valid Phone number" aria-rowspan="10">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">captcha</span>
            <input type="text" class="form-control" name="cpt" placeholder="Enter captcha">
            <span class="input-group-addon">S1a4I3</span>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Select Country</span>
            <select [(ngModel)]="signup.Country" class="form-control">
                <!-- <option *ngFor="let c of Countries" [ngValue]="c">{{c.name}}</option> -->
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="PAK">PAK</option>
            </select>
        </div>
        <div class="container">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" (click)="SaveSignUp()">Register</button>
                <!-- <table>
                    <tr>
                        <th>FirstName</th>
                        <th>MiddleName</th>
                        <th>LastName</th>
                        <th>UsaerNaame</th>
                    </tr>
                    <tr>
                        <td> {{ signup.FirstName }}</td>
                        <td>{{ signup.MiddleName }}</td>
                        <td> {{ signup.LastName }}</td>
                        <td>{{ signup.UsaerNaame }}</td>
                    </tr>
                </table> -->

            </div>
        </div>
    </form>

</div>