<p *ngIf="isgrid">Hai All Welcome To Angular site with Basic Readability of Concepts. </p>
<p *ngIf="!isgrid">Now is in edit </p>
<div *ngIf="!isclick ||isgrid">
    <button type="button" class="btn btn-primary" (click)="openpop()">+</button>
    <table>
        <tr>
            <th>Name</th>
            <th>BioData</th>
            <th>Job</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let user of users">
            <!-- <td><button type="button"(click)="SelectedUser()">{{ user.name }}</button></td> -->
            <td>
                <a (click)="SelectedUser(user)">{{ user.name }}</a>
            </td>
            <td>{{ user.bio }}</td>
            <td> {{ user.job }}</td>
            <td>{{ user.salary }}</td>
        </tr>
    </table>
</div>
<div *ngIf="user!=null">
    <div>
        userName<input type="text" [(ngModel)]="user.name" required>
    </div>
    <div>
        BioData<input type="text" [(ngModel)]="user.bio" required>
    </div>
    <div>
        Designation<input type="text" [(ngModel)]="user.job" required>
    </div>
    <div>
        Salary<input type="text" [(ngModel)]="user.salary" required>
    </div>
    <button type="button"class="btn btn-success"  (click)="addtolist(user)">Save</button>
    <button type="button" class="btn btn-danger"(click)="cancel(user)">Cancel</button>
</div>